<template>
  <navegacion></navegacion>
</template>

<script>
  import {createAppContainer,createStackNavigator} 
  from "vue-native-router";

  import InicioScreen from "./screens/Inicio.vue";
  import ContabilidadScreen from "./screens/Contabilidad.vue";
  import CreadorScreen from "./screens/Creador.vue";
  
  const StackNavigator = createStackNavigator(
    {
      Inicio: InicioScreen,
      Contabilidad: ContabilidadScreen,
      Creador:CreadorScreen,
    },
    {
      initialRouteName: 'Inicio'
    }
  );
  const Navegacion = createAppContainer(StackNavigator);
  
  export default {
    components: { Navegacion }
  
  }
</script>