<template>
<view>
  <text>detalle</text>
  <text-input
        class="estilox"
        v-model="text1"
  />

  <text>Costo</text>
  <text-input
        class="estilox"
        v-model="text2"
  />
  <text>Tipo: - Egreso y + Ingreso</text>
  <text-input
        class="estilox"
        v-model="text3"
  />
  <button title="Guardar" @press="guardar"></button>

</view>
 

</template>




<style>
.container {
  background-color: white;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size:80px;
  text-align:right;
  color:black;
  display:flex;
}
.text-color-primary {
  color: blue;
}
.estilox {
  color:black;
  width:280px;  
  height:50px;
  font-size:40px;
  display:flex;
  background-color: #F4aA12;

}
</style>


<script>
import axios from "axios"

    export default {        
        data: function() {
            return {
              datos:null,
              text1:null,
              text2:null,
              text3:'+',
            };
        },        
        methods:{
          guardar(){
            axios.post('http://tecnoprofe.com/api/contabilidad',
            {
              "id":10,
              "detalle":this.text1,
              "precio":this.text2,
              "tipo":this.text3            
            })
            .then((response)=>{
              alert("Registro Satisfactorio");
            });
          } 
        },
        mounted () {
          axios.get('http://tecnoprofe.com/api/contabilidad')
          .then(response => (this.datos = response.data))
        }
    }

</script>