<template>
  <view class="container">
    <text>Aplicación Demo de AXIOS</text>
    
    <button title="Contabilidad" @press="rutacontabilidad"></button>
    <button title="Acercar del creador de la APP" @press="rutacreador"></button>
  </view>
</template>

<script>
export default {
  props: {
    navigation: { type: Object }
  },
  methods: {
    rutacontabilidad() {
      this.navigation.navigate('Contabilidad');
    },
    rutacreador() {
      this.navigation.navigate('Creador');
    }
  }
}
</script>

<style>
.container {
  align-items: center;
  justify-content: center;
  flex: 1;  
}
</style>